<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body>
	<%- include('./partials/headerDeslogueado') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
				<form  class="cajaformulario" action="/users/login" method="POST">
					<label class="form-label"> Email: <input type="text" id="email" name="email" class="form-input" placeholder="Email"></label>
					<label class="form-label"> Contraseña: <input type="password" id="keyword" name="keyword" class="form-input" placeholder="Contraseña"></label>
					<label class="form-label"> Recordarme: <input type="checkbox" id="recordarme" name="rememberme" class="check" ></label>
					<input type="submit" class="enviar" name="send">
					<!-- ****** -->
					<% if (locals.errors) { %>
						<p class="error-formulario"><%= locals.errors.message %></p>
					<% } %>
				</form>
			</h2>

        </div>
    </div>

    <%- include('./partials/footer') %>
</body>

</html>