<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body>
	<!-- ESTO HAY QUE DESCOMENTARLO CUANDO SE HAGA EL LOGIN<%- //include('partials/headerLogueado') %>-->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- FORMULARIO -->
			<h2 class="col-12">
				<form method="POST" action="/productos/agregar" class="cajaformulario" >
					<label class="form-label"> Nombre del Producto: <input type="text" class="form-input" id="NombreDelProducto" name="NombreDelProducto"></label>
					<label class="form-label"> Foto: <input type="file" class="form-input" id="Imagen" name="Imagen"></label>
					<label class="form-label"> Precio: <input type="number" class="form-input" id="Precio" name="Precio"></label>
					<label class="form-label"> Descripcion: <input type="text" class="form-input" id="Descripción" name="Descripción"></label>
					<!--<label class="form-label"> Fecha de Carga: <input type="date" class="form-input" id=""></label>-->
					<input type="submit" class="enviar">
				</form>

			</h2>
        </div>
    </div>
	

	<%- include('partials/footer') %>
</body>

</html>